.btn-blue{
  width: 300px;
 
  margin: 5px;
  padding: 20px;
  text-align: center;

  text-transform: capitalize;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px #eee;
  border-radius: 30px;

  background-image: linear-gradient(
    to right,
    #44dfdf 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
  border: none;
}

.btn-blue:hover {
  background-position: right center;
}

.btn-white {
  width: 300px;
  flex: 1 1 auto;
  margin: 5px;
  padding: 20px;
  text-align: center;

  text-transform: capitalize;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  border-radius: 30px;
  background-color: transparent;

  border: 2px solid white;
}


.btn-grey{
 
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btn-lightgrey{
 
  border: 2px solid grey;
  color: gray;
  background-color: transparent;

  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btn-white:hover {
  background-position: right center;
}

.btn-logout {
  background: var(--deepBlue);
}

.btn-menu {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 40px;
  border: 0px;
}

.btn-menu-dropdown {
  background-color: var(--color-background-menu);
  color: var(--color-text-menu);
  font-size: var(--font-dropdown-menu);
  border: 0px;
  text-align: left;
}

.btn-vote {
  background-color: inherit;
  border: 0px;
}

.btn-submit-green {

  position: fixed;

  bottom:5px ;
  left: 50%;
  transform: translateX(-50%);
  

  display: grid;  
  align-items: center;

  border: 0px;
  font-size: 25px; 

  width: 60px;
  height: 60px;
    
  background-color: #0c9;
  color: white;
  border-radius: 50px;

  text-align: center;
  box-shadow: 2px 2px 3px #999;
  
}

.invisible {
  visibility: hidden;
}
.btn-edit img{
  height: 25px;
  width: 25px;
}

.btn-edit{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 50%;
  cursor: pointer; 

  height: 50px;
  width: 50px;

  z-index: 10;

}.btn-edit:hover{
opacity: 100%;

}

