.card-small-container {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;

  justify-items: center;
}

.card-small-container img {
  border-radius: 25px;
}

.card-small {
  position: relative;
  display: flex;

  width: 400px;
  height: min-content;

  overflow: hidden;

  flex-direction: column;
  justify-content: flex-start;

  background-color: #fafafa;
  border-radius: 25px;
  height: auto;

  border: 1px solid rgb(241, 241, 241);
  box-shadow: 2px 2px 2px 0px rgb(201, 195, 195);
  z-index: 1;
}

.card-img {
    position: relative;
    background-blend-mode:multiply;
    opacity: 80%;
  
    width: 400px ;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
  
  
  }

.card-small .vote-container {
  margin: 12px 0;
}
.card-small .vote-container img {
  width: 30px;
  height: auto;
}

#img-score {
  color: tomato;
  font-family: var(--font-funny);
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 5px;
  align-items: baseline;
}

.card-footer img {
  width: 15px;
}

/** media queries tablets  */
@media screen and (min-width: 800px) {
  .card-small-container {
    max-width: 800px;

    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    justify-content: space-around;
  }
}

/** media queries laptops  */
@media screen and (min-width: 1200px) {
  .card-small-container {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
}
