
a {
    color: inherit;
}

.footer{
    position:fixed;
    bottom:0;
 
    width: 100%;
   
    display: grid;
    align-items: center;
 
    z-index: 2;

    width: 100vw;
    height: var(--footer-height);

    margin:0;
    padding:0;
 }



/* the circle under the button*/
.footer-shape{
    position: fixed;

    background-image: var(--color-footer-structure);
    height:calc(var(--footer-height) );
    width: calc(var(--footer-height) + 5px);
   
    bottom:0 ;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
    box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.021) ;

    z-index: -10
    ;
}

.footer-container {
    
    text-align: center;
    background-image: var(--color-footer-structure);
    
    font-size: 15px;    
    height: 100%;
    width: 100vw;
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
     
    align-content: center;
    
    

    box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.021) ;
    z-index: -10;
}


.item {
    
    color: white;
    font-size: 20px;  
   
}

.item:hover {
    color: #000000;
    transition: 0.4s;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .item {
        font-size: 25px;
    }
}

