


html{
    font-family: var(--font-classy);
   
}

body{
    margin: 0;
   
      
}

a{
    color: inherit;
    font-style: unset;
    text-decoration: unset;
}

ul{
    padding: 0;
}

p{
    margin:0;
}

h1{
    text-align: right;
    font-size: var(--font-S);
    margin: 0;

}
h2{
    margin: 5px 8px;
    font-size: var(--font-S);
   
}

.page-title{
    
    text-align: center;
 margin: 18px 0 12px 0; 
}


h3{
      margin: 0 0 10px 0;
      padding: 0;
      font-weight: 300;
}

strong{
  
    padding:5px;
    border: 3px solid white ;
    margin-right: 2px;
    
}


img{
width: 100%;
}

.img-20{
   height: 20px;
    width:auto;  
    object-fit: cover; 
}
.img-30{
    height: 30px;
     width:auto;   
     object-fit: cover;
 }
 .img-40{
    height: 40px;
     width:40px; 
     object-fit: cover;
 }
 .img-50{
    height: 50px;
     width:50px;   
     object-fit: cover;
 }

 .img-60{
    height: 60px;
     width:60px;    
     object-fit: cover;
 }

 .img-70{
    height: 70px;
     width:70px;   
     object-fit: cover;
 }
 
.img-profile-100{
   
    height: 100px;  
    width: 100px;  
    border-radius: 50%;
    border: 1px solid rgb(216, 215, 215);
     
    background-color: rgb(255, 255, 139);
    object-fit: cover;
    object-position: top;
}

