html{
    font-family: var(--font-classy);
}

a{
    color: inherit;
    font-style: unset;
    text-decoration: unset;
}

ul{
    padding: 0;
}

p{
    margin:0;
}

h1{
    text-align: center;
    margin: 0;
}



nav{
    display: grid ;
    grid-template-columns: 60px 1fr ;
    align-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
}


.nav-menu{
       
    color: white;
    display: flex ;
    justify-content: center;
   
        
}

.nav-dropdown{
    background-color: var(--color-background-menu);
    color: var(--color-text-menu);
    font-size: var(--font-dropdown-menu);

    display: flex;
    flex-direction: column;
}
.nav-link{

    margin :0px 3px;
    
}

.nav-item{
    list-style-type: none;
      margin: 0 2px;  
}

#nav-main-title{
    align-self: center;
    font-size:var(--font-big) ;
    font-family: var(--font-funny);
    
}

img{
width: 100%;
}

.under-img-container{
display: flex;
justify-content: center;
align-items: center;
}



