.upload-box{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;

    margin: 20px 0;
}



.overlay-form-group{
    
    width: 300px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 12px;
}

label,.form-control{    
    width: 100%;
    
}

.form-control{    
    
    border:0px;
    border-radius: 7px;
}

::placeholder{  
    padding:7px 10px;  
}

input{
    
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    border:0px;
    border-radius: 7px;
    width: 90%;
    padding: 10px 0 10px 10px;
    
}

.overlay-form button{
    margin-top: 9px;
    align-self: center;
    width: 100%;
}