.profilepage-content{
 
    margin: 9px ;
    margin-bottom: calc(var(--footer-height) + 9px);
    
}

.profilepage-submit-container{  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   
}

.profilepage-content p{
    border-radius: 25px ;
}

