.profilepage-content{
 
    margin: 9px ;
    margin-bottom: calc(var(--footer-height) + 9px);
    
}

.profilepage-container{  

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin:0 25px ;
   
}

.profilepage-subcontainer{   
  
    width: 100%;
    display: grid;
    grid-template-columns: 50% 1fr;      
    
}

.profilepage-box-left{
       position: relative;
       text-align: left;
}

.profilepage-box-left .btn-edit{
    position: absolute; 
    bottom:0px;
    left:75px;
    
}

.profilepage-box-left h2,.profilepage-box-left a{
    position: absolute; 

    margin: 0;
    background-color: white;
    border-radius: 15px;
    border: solid 1px rgb(212, 212, 212);
    padding: 2px 12px; 
    font-size: var(--font-XS);
    box-shadow: 2px 2px 7px rgba(41, 40, 40, 0.082);

}

.profilepage-box-left h2{
top:-20px;
left:-10px;
}  

.profilepage-box-left a{
font-size: 0.8em;    
top:3px;
left:-10px;
}  

.profilepage-box-right{
    
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.item-score{
    width: 80%;
    text-align:center;
    
    background-image: linear-gradient(90deg,rgb(90, 190, 76), #65c93796);
    font-family: var(--font-code);
    font-size:var(--font-L) ;
    color: white;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 3px 3px 6px rgba(41, 40, 40, 0.164);

}
.item-score img{
    margin-left: 15px ;
}
