.profilepage-content {
  margin: 9px;
  margin-bottom: calc(var(--footer-height) + 9px);
}

.profilepage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 25px;
}

.profilepage-subcontainer {
   width: 100%;
  max-width: 400px;

  display: flex;
  justify-content: space-between;
}

.profilepage-box-left {
  position: relative;
  text-align: left;
}

.profilepage-box-left .btn-edit {
  position: absolute;
  bottom: 45px;
  left: 75px;
}
.crown{
  position: absolute;
  top:-35px;
  left: 31px;
}

.profilepage-box-left-header {
 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  gap: 10px;
}

.profilepage-box-left h2,
.profilepage-box-left a {
  margin: 0;
  border: 0;
  padding: 2px 12px 2px 0px;
  font-size: var(--font-S);
  text-shadow: 2px 2px 7px rgba(41, 40, 40, 0.082);
}

.profilepage-box-right {
    
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 220px;
}

.item-score {
    width: 100%;
  text-align: center;

  background-color: #fafafa;
  font-family: var(--font-classy);
  font-size: var(--font-M);

  border: 1px solid rgb(192, 192, 192);
  padding: 4px;
  box-shadow: 3px 3px 6px rgba(41, 40, 40, 0.164);
}
.item-score img {
  margin-left: 15px;
}

/** media queries tablets  */
@media screen and (min-width: 800px) {
  .profilepage-subcontainer {
    max-width: 800px;
  }

  .profilepage-box-right {
       max-width: 300px;
  }


}

/** media queries laptops  */
@media screen and (min-width: 1200px) {
  .profilepage-subcontainer {
    max-width: 1200px;
  }

  .profilepage-box-right {
    max-width: 400px;
}

}
