.vote-container{
    font-family: var(--font-funny);
    width: 80%;
    height: auto;

display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;

}

.vote-container p {
    font-size: 18px;
}