.vote-container {
  font-family: var(--font-funny);
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vote-container p {
  font-size: 18px;
  text-align: center;
}

#vote-separator {
  background-color: grey;
  width: 1px;
  height: 40px;
}
