.winner-content {
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 4px;
  justify-content: center;

  width: 100%;
  height: 100%;
}


.wrapper-img-square {
  position: relative;

  width: 70vw;
  height: 70vw;
  max-height: 45vh;
  max-width: 500px;
  overflow: hidden;

  background-color: black;
  border-radius: 30px;
}

.wrapper-img-square-nodata {
  position: absolute;

  width: 330px;
  height: 200px;
  
  top:20vh;
  left: 50%;
  transform: translate(-50%, 0);
  

  background-color: #fafafa;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.winner-score{
  position: absolute;
  border:0;

  top :25px;
  right: 25px; 

  width: 90px;
  height: 90px;
 text-align: center;
  
 
}


.winner-score-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom:-17px; 

  color: rgb(201, 27, 27);
  background-color: #fafafa;
  border-radius: 30px;
  padding: 0 12px;

  border: 2px red solid;
  
    font-family: var(--font-classy);
    font-size:var(--font-M) ;
  /* text-shadow: inset 1px 1px ; */
    box-shadow: 2px 2px 5px rgba(46, 46, 46, 0.822);
}


#main-img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  opacity: 80%;
  background-blend-mode: multiply;
}

.under-img-container{
 
        display: flex;
        justify-content: center;
        align-items: center;
        }
        
.img-title{
  position: relative;
  top:7px;
  
}        



