.winner-content {
  z-index: 1;

  display: grid;
  grid-template-rows: 30px min-content min-content 1fr;
  justify-content: center;

  width: 100%;
  height: 100%;
}
.wrapper-img-square {
  width: 90vw;
  height: 80vw;
  overflow: hidden;
}

#main-img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.under-img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        