.winner-content{
        
        z-index: 1;      
        height: 100%;     

        display: grid;
        grid-template-rows: 30px min-content min-content 80px ;
        justify-content: center;
      
        width: 100%;
            
}
.wrapper-img-square{
        width: 90vw;
        height: 80vw;
        overflow: hidden;
        
} 

#main-img{
    border-radius: 30px;
  }