.wrapper{


}
.form-body{
    text-align: center;
}
.Landing-logo {
    text-align: center;
    width: 300px;
    margin-left: 80px;
}

.container {
    height: 900px;
    position: relative;

}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}